.link-item {
    margin-right: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.link-item.show {
    opacity: 1;
}

.link-blue {
  color: #60A5FA !important;
}

@keyframes bounce {
    0% {
      transform: translateY(-2px);
    }
    50% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(-2px);
    }
  }


  .bounce-image {
    animation: bounce 2s infinite;
    filter: brightness(300%);
  }

@media (max-width: 500px) {
    .link-item {
        width: 100%;
    }
}
